.topNav {
	background: #ffffff;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 998;
	width: 750rpx;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;

	.statusBar {
		width: 750rpx;
	}

	.navBar {
		width: 750rpx;
		display: flex;
		align-items: center;
	}

	.navIcon {
		padding-left: 23rpx;
		width: 80rpx;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		box-sizing: border-box;
	}

	.title {
		flex: 1;
		text-align: center;
		font-size: 34rpx;
		font-family: Source Han Sans CN;
		font-weight: bold;
		color: #333333;
		padding-right: 80rpx; // 占位，让标题视觉居中（与左侧返回按钮对称）
		box-sizing: border-box;
	}
}
